---
layout: default
---


{{content}}


<h1 style="margin-bottom: 5px;">Letter {{ page.title | upcase }}</h1>

	<div class="audiobox">
   <div class="audio"><audio src="{{site.baseurl}}/{{site.audiopath}}/{{page.audio}}" controls type="audio/mpeg">Your browser does not support the audio tag.</audio>
   </div></div> 

{% if page.note %}
<div id="note">{{page.note}}</div>
{% endif %}

<table border = "0" cellpadding="3">	
{% assign theexamples = site.data.keywords | where:"num",page.number %}
{% for row in theexamples %}
<tr><td><span class="den">{{row.den}}</span></td>
<td><span class="eng">{{row.eng}}</span></td></tr>
{% endfor %}
</table>


